:root {
  --color-blue-dark-1: #494f5c;
  --color-grey-light-1: #F5F5F5;
  --color-grey-light-2: #EEEEEE;
  --color-grey-light-3: #E0E0E0;
  --color-grey-light-4: #9E9E9E;
  --color-grey-dark-1: #757575;
  --color-grey-dark-2: #616161;
  --color-grey-dark-3: #424242;
  --color-grey-dark-4: #212121;
  --color-money: yellowgreen; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.secondary-heading {
  color: var(--color-grey-dark-3);
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: .025rem;
  text-transform: uppercase;
  padding: 1rem 0; }

.slide-square {
  display: flex; }
  .slide-square:not(:last-child) {
    margin-bottom: 4rem; }

.square {
  box-shadow: 0 0.25rem 0.35rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .square:not(:last-child) {
    margin-right: 2rem; }

.game-thumbnail__photo {
  display: block;
  width: 100%; }

.game-title {
  width: 85%; }
  .game-title__link:link, .game-title__link:visited {
    color: var(--color-grey-dark-3);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .015rem;
    display: inline-block;
    padding: .75rem .75rem; }
  .game-title__link:hover {
    text-decoration: underline; }

.game-info {
  border-top: 1px solid var(--color-grey-light-2);
  background-color: var(--color-grey-light-1);
  padding: 1.25rem 1.25rem;
  display: flex;
  justify-content: space-between; }
  .game-info__platform {
    display: flex;
    align-items: center; }
  .game-info__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3); }
    .game-info__icon:not(:last-of-type) {
      margin-right: .5rem; }
  .game-info__discount:link, .game-info__discount:visited {
    background-color: var(--color-money);
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: .4rem;
    padding: .5rem 1rem; }
  .game-info__price:link, .game-info__price:visited {
    color: var(--color-grey-dark-3);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: .4rem;
    padding: .5rem 1rem;
    margin-left: .3rem;
    transition: all .2s; }
  .game-info__price:hover {
    background-color: var(--color-money);
    color: #fff; }

.container {
  background-color: var(--color-grey-light-2);
  padding: 5rem 5rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue-dark-1);
  color: var(--color-grey-light-4);
  font-size: 1.6rem;
  letter-spacing: .1rem;
  height: 7rem;
  padding: 0 2rem; }

.logo-box {
  color: var(--color-grey-light-2); }
  .logo-box__link {
    text-decoration: none;
    color: inherit; }
  .logo-box__link strong {
    text-transform: uppercase;
    font-weight: 900;
    margin-left: .2rem; }

.category-nav {
  list-style: none;
  font-weight: 900;
  display: flex; }
  .category-nav__item:not(:last-child) {
    margin-right: 2.5rem; }
  .category-nav__link:link, .category-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: all .2s; }
  .category-nav__link:hover {
    color: #fff; }

.search {
  flex: 0 0 25%;
  display: flex; }
  .search__input {
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: .4rem 0 0 .4rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-dark-3);
    width: 100%;
    height: 4.5rem;
    padding-left: 1.5rem; }
    .search__input::-webkit-input-placeholder {
      font-weight: 700;
      color: var(--color-grey-dark-3); }
  .search__button {
    background-color: var(--color-grey-dark-1);
    padding: 0 1.5rem 0 .5rem;
    border: none;
    border-radius: 0 .4rem .4rem 0;
    display: flex; }
    .search__button:hover {
      cursor: pointer; }
  .search__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  font-weight: 700;
  display: flex;
  align-items: center; }
  .user-nav [class$="-link"] {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    transition: all .2s; }
  .user-nav__login-link {
    border: 2px solid var(--color-grey-light-4);
    border-radius: .4rem 0 0 .4rem;
    border-right: none;
    display: flex;
    align-items: center; }
  .user-nav__login-link:hover {
    color: #fff;
    border: 2px solid #fff;
    border-right: none; }
  .user-nav__login-link:hover + .user-nav__signup-link {
    border-left: 2px solid #fff; }
  .user-nav__login-link:hover > .user-nav__icon {
    fill: #fff; }
  .user-nav__signup-link {
    border: 2px solid var(--color-grey-light-4);
    border-radius: 0 .4rem .4rem 0;
    display: flex; }
  .user-nav__signup-link:hover {
    color: #fff;
    border: 2px solid #fff; }
  .user-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-light-4);
    margin-right: .5rem;
    transition: all .2s; }

.primary-section {
  display: flex; }
  .primary-section .category-view {
    margin-right: 5rem;
    flex: 0 0 65%; }
  .primary-section .list-view {
    flex: 1;
    background-color: yellowgreen;
    padding-top: 1rem; }
