/////////////////////////////////////////////////////////
/////// LOGO
.logo-box {
    color: var(--color-grey-light-2);

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__link strong {
        text-transform: uppercase;
        font-weight: 900;
        margin-left: .2rem;
    }
}

/////////////////////////////////////////////////////////
/////// CATEGORY NAVIGATION

.category-nav {
    list-style: none;
    font-weight: 900;

    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        transition: all .2s;
    }

    &__link:hover {
        color: #fff;
    }
}

/////////////////////////////////////////////////////////
/////// SEARCH BAR

.search {
    flex: 0 0 25%;

    display: flex;

    &__input {
        outline: none;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        border: none;
        border-radius: .4rem 0 0 .4rem;
        background-color: var(--color-grey-dark-1);
        color: var(--color-grey-dark-3);
        width: 100%;
        height: 4.5rem;
        padding-left: 1.5rem;

        &::-webkit-input-placeholder {
            font-weight: 700;
            color: var(--color-grey-dark-3);
        }
    }

    &__button {
        background-color: var(--color-grey-dark-1);
        padding: 0 1.5rem 0 .5rem; 
        border: none;
        border-radius: 0 .4rem .4rem 0;
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-grey-dark-3);
        // transform: translateY(.15rem);
    }
}

/////////////////////////////////////////////////////////
/////// USER NAVIGATION

.user-nav {
    font-weight: 700;

    display: flex;
    align-items: center;

    [class$="-link"] {
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
        padding: 1rem;
        transition: all .2s; 
    }

    &__login-link {
        border: 2px solid var(--color-grey-light-4);
        border-radius: .4rem 0 0 .4rem;
        border-right: none;

        display: flex;
        align-items: center;
    }

    &__login-link:hover {
        color: #fff;
        border: 2px solid #fff;
        border-right: none;
    }

    &__login-link:hover + &__signup-link {
        border-left: 2px solid #fff;
    }

    &__signup-link {
        border: 2px solid var(--color-grey-light-4);
        border-radius: 0 .4rem .4rem 0;

        display: flex;
    }

    &__signup-link:hover {
        color: #fff;
        border: 2px solid #fff;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-grey-light-4);
        margin-right: .5rem;
        transition: all .2s;
    }

    &__login-link:hover > &__icon {
        fill: #fff;
    }
}

/////////////////////////////////////////////////////////
/////// SQUARE

.game-thumbnail {
    &__photo {
        display: block;
        width: 100%;
    }
}

.game-title {
    border-bottom: 1px solid var(--color-grey-light-2);
    background-color: #fff;

    &__link:link,
    &__link:visited {
        color: var(--color-grey-dark-3);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 900;
        display: inline-block;
        padding: .75rem .75rem;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

.game-info {
    padding: 1.25rem .75rem;

    &__platform {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

        &:not(:last-of-type) {
            margin-right: .5rem;
        }
    }
}