.header {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    height: 7rem;
    background-color: var(--color-blue-dark-1);
    color: var(--color-grey-light-4);
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    background-color: var(--color-grey-light-2);
    padding: 5rem 5rem;
}

.game-section {
    display: flex;
    justify-content: space-between;
}

.main-view {
    margin-right: 5rem;
    flex: 0 0 65%;
}

.slide-square {
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
    display: flex;
}

.square {
    box-shadow: 0 .25rem .35rem rgba(0,0,0,0.2);
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:not(:last-of-type) {
        margin-right: 2rem;
    }
}

.list-view {
    flex: 1;
    background-color: yellowgreen;
    padding-top: 1rem;
}